<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      <label class="title">
          <h3 class="welcome">Welcome to</h3>
          Dummy Login Page
      </label>
      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input placeholder="Email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input placeholder="Password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Date of Birth</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" placeholder="Date of Birth"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-button expand="block"(click)="goHome()">Go Home</ion-button>
      </ion-item>
</ion-content>