<ion-header>
  <ion-toolbar>
    <ion-title>To Do</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<p>Todos here</p>
      <ion-input 
        class="new-todo" 
        placeholder="What needs to be done?" 
        autofocus="" [(ngModel)]="newTodo.title"
        (keyup.enter)="addTodo()">
      </ion-input>
  
    <section class="main" *ngIf="todos.length > 0">
      <ul class="todo-list">
        <ion-item *ngFor="let todo of todos" [class.completed]="todo.complete">
          <div class="view">
            <input 
              class="toggle" 
              type="checkbox" 
              (click)="toggleTodoComplete(todo)" 
              [checked]="true"
              >
            <app-need-to [todo]="todo.title"></app-need-to>
            <ion-button color="primary"  (click)="removeTodo(todo)">Remove</ion-button>

          </div>
        </ion-item>
      </ul>
    </section>
    <footer class="footer" *ngIf="todos.length > 0">
      <span class="todo-count">
        <strong>{{todos.length}}</strong> {{todos.length == 1 ? 'item' : 'items'}} left</span>
    </footer>
</ion-content>
